.barraHerramientas {
    width: 250px; /* Ancho fijo de la barra lateral */
    position: fixed; /* Fijar la barra a la izquierda */
    top: 0;
    left: 0;
    bottom: 0; /* Hacer que cubra toda la altura */
    background-color: #191c18;
    padding: 20px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    color: #e4f6e2;
    font-family: 'Montserrat', sans-serif;
    z-index: 2;
    overflow-y: auto; /* Permitir desplazamiento si es necesario */
    display: flex;
    flex-direction: column;
    }