* {
    box-sizing: border-box;
    padding: 0;
  }
  
  .mainHeader {
    height: 10vh;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #191c18;
    justify-content: center;
  }
  .mainHeader .logoContainer {
    display: none;
  }
  .mainHeader .navbar {
    display: none;
  }
  
  #menu__toggle {
    opacity: 0;
  }
  
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  
  .menu__btn {
    position: fixed;
    top: 30px;
    left: 30px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 3;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #666;
    transition-duration: 0.25s;
  }
  
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  
  .btnCarrito {
    position: fixed;
    top: 12px;
    right: 20px;
    cursor: pointer;
    z-index: 3;
  }
  
  #btnCarrito2 {
    color: #666;
  }
   
  .register-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 2rem;
    background-color: #191c18;
    border-radius: 8px;
    text-align: center;
  }

  .register-title {
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
    color: #e9e9e5;
  }

  .register-form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
  }

  .register-form .form-group {
    margin-bottom: 1.2rem;
    text-align: left;
  }

  .register-form input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #e9e9e5;
    border-radius: 4px;
  }

  .btn-primary {
    width: 100%;
    padding: 0.6rem;
    font-size: 1rem;
    background-color: #e44d5a;
    border: none;
    border-radius: 4px;
    color: #e9e9e5;
    cursor: pointer;
  }

  .btn-primary:hover {
      background-color: #e44d5a;
  }

  .login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 2rem;
    background-color: #191c18;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .login-title {
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
    color: #e9e9e5;
    margin-bottom: 1rem;
  }

  .login-form .form-group {
    margin-bottom: 1.2rem;
    text-align: left;
  }

  .login-form label {
    font-size: 0.9rem;
    color: #e9e9e5;
  }

  .login-form input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #e9e9e5;
    border-radius: 4px;
  }

  .login-form input:focus {
    outline: none;
    border-color: #e44d5a;

  }

  .login-form .btn-primary {
    width: 100%;
    padding: 0.6rem;
    font-size: 1rem;
    background-color: #ca3f4a;
    border: none;
    border-radius: 4px;
    color: 191c18;
    cursor: pointer;
  }

  .login-form .btn-primary:hover {
    background-color: #e44d5a;
  }
    
  .menu__box {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 100px 0;
    list-style: none;
    background-color: #8D8375;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
    justify-content: flex-start;
    z-index: 2;
  }
  
  .menu__item {
    display: block;
    padding: 25px 70px;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
    width: 100%;
    text-align: center;
  }
  
  #btnCarrito {
    color: #e9e9e5;
    background-color: #666;
    border-radius: 10px;
    margin: 10%;
    width: 80%;
  }
  
  .menu__item:hover {
    background-color: #e44d5a;
    color: #e9e9e5;
  }
  
  .menu__item:active {
    background-color: #e9e9e5;
    color: #666;
  }
  
  .section1 {
    background-image: url(../multimedia/logo.jpeg);
    background-size: cover;
    background-position: center;
  }
  
  #testing {
    min-height: 100vh;
  }
  
  #section2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    min-height: 100vh;
    background: #191c18;
  }
  
  .barraHerramientas {
    display: flex;
    flex-direction: column;
    background: #191c18;
    width: 100%;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 20px;
    color: #8ac181;
  }
  .barraHerramientas h2 {
    text-align: center;
    padding: 20px;
    border-top: 1px solid #8ac181;
    border-bottom: 1px solid #8ac181;
  }
  .barraHerramientas h3 {
    padding: 20px;
  }
  .barraHerramientas .formDiv {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 2px 20px;
  }
  .barraHerramientas .btnAgregar, .barraHerramientas #eliminar {
    border: 0;
    border-radius: 5px;
    width: 50%;
    align-self: center;
    margin: 20px;
    height: 40px;
    color: #8ac181;
    transition: 0.25s;
  }
  .barraHerramientas .btnAgregar:active, .barraHerramientas #eliminar:active {
    background-color: #8ac181;
  }
  .barraHerramientas .btnAgregar:hover, .barraHerramientas #eliminar:hover {
    opacity: 0.8;
  }
  
  ::-moz-placeholder {
    color: #8ac181;
    opacity: 0.7;
  }
  
  :-ms-input-placeholder {
    color: #8ac181;
    opacity: 0.7;
  }
  
  ::placeholder {
    color: #8ac181;
    opacity: 0.7;
  }
  
  input {
    color: #8ac181;
  }
  
  input:focus {
    outline-color: #8ac181;
    font-weight: 600;
  }
  
  .divTitulo, .divEliminar {
    border-top: 1px solid #8ac181;
  }
  
  .divBuscar, .divOrdenar {
    border-bottom: 1px solid #8ac181;
  }
  
  .divBuscar {
    display: flex;
    padding: 5%;
    align-items: center;
    justify-content: center;
  }
  .divBuscar h3 {
    margin: 0;
    padding: 0 10% 0 0;
  }
  .divBuscar #buscador {
    height: auto;
    width: 50%;
  }
  
  .divOrdenar {
    display: flex;
    flex-direction: column;
  }
  
  #resultadoTextoOrdenar {
    text-align: center;
    margin: 0;
    padding: 2%;
  }
  
  .divTitulo {
    text-align: center;
  }
  
  .divBotones {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  .divEliminar {
    display: flex;
    flex-direction: column;
  }
  
  .btnOrdenar {
    border: 0;
    border-radius: 5px;
    width: 90%;
    align-self: center;
    height: 40px;
    background-color: #e44d5a;
    color: #191c18;
    font-size: 12px;
    transition: 0.25s;
  }
  
  .btnOrdenar:active {
    background-color: #e44d5a;
  }
  
  .btnOrdenar:hover {
    opacity: 0.8;
  }
  
  .card {
    width: 80%;
    font-family: 'Montserrat', sans-serif;
    z-index: 1;
  }
  .card img {
    width: 100%;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card .card-body h4 {
    text-align: center;
    padding: 5px;
    margin: 0;
  }
  .card .card-body p {
    text-align: center;
    padding: 5px;
    margin: 0;
  }
  .card .card-body button {
    align-self: center;
    margin: 5px;
  }
  
  #divCompra {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: 191c18(82, 80, 80);
    border: 1px solid #191c18;
  }
  #divCompra p {
    margin: 0;
  }
  
  .section3 {
    height: 50vh;
  }
  .section3 h2 {
    text-align: center;
  }
  
  footer {
    background: #191c18;
    text-align: center;
  }
  
  .icons {
    padding: 3%;
  }
  .icons a {
    padding: 2%;
  }
  
  .footerTexto {
    padding: 3%;
  }
  
  .up {
    height: 60px;
    width: 60px;
    background-color: #e44d5a;
    position: fixed;
    bottom: 120px;
    right: 50px;
    text-align: center;
    line-height: 60px;
    color: #191c18;
    border-radius: 50%;
    border: 2px solid #e44d5a;
    font-size: 18px;
    z-index: 3;
    display: none;
    opacity: 0.95;
  }
  
  .up:hover {
    color: #dd606b;
  }
  
  .up2 {
    bottom: 330px;
  }
  
  .up3 {
    bottom: 260px;
  }
  
  .up4 {
    bottom: 190px;
  }
  
  .up5 {
    bottom: 50px;
  }

  .logo-pequeño {
    width: 100%;          
    object-fit: contain;
    height: 250px;        
    object-fit: cover;    
    display: block;
}
  
  @media only screen and (min-width: 769px) {
    .hamburger-menu {
      display: none;
    }
    .mainHeader {
      height: 10vh;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      background: #191c18;
      justify-content: flex-start;
    }
    .mainHeader .logoContainer {
      display: flex;
      width: 25%;
      align-items: center;
      justify-content: center;
    }
    .mainHeader .logoContainer p {
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
      margin: 0;
      font-weight: 800;
      color: #e9e9e5;
      letter-spacing: 3px;
    }
    .mainHeader .navbarContainer {
      display: flex;
      width: 75%;
      height: 100%;
    }
    .mainHeader .navbarContainer .navbar {
      display: flex;
      width: 100%;
      height: 100%;
      padding: 0 0 0 50%;
    }
    .mainHeader .navbarContainer .navbar ul {
      display: flex;
      width: 100%;
      height: auto;
      margin: 0 20px;
      padding: 0;
      list-style: none;
      gap: 40px;
      justify-content: flex-start;
      align-items: center;
    }
    .mainHeader .navbarContainer .navbar ul li {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      white-space: nowrap;
    }
    .mainHeader .navbarContainer .navbar ul li #btnCarrito3 {
      color: #e9e9e5;
      border: none;
      width: 100%;
      height: 100%;
    }
    .mainHeader .navbarContainer .navbar ul li #btnCarrito3 i {
      font-size: 18px;
    }

    .mainHeader .navbarContainer .navbar ul li #btnCarrito3:hover {
      background-color: #e9e9e5;
      color: #e44d5a;
    }
    .mainHeader .navbarContainer .navbar ul li a {
      color: #e9e9e5;
      text-decoration: none;
      width: 100%;
      height: 100%;
      text-align: center;
      padding: 10% 0 10% 0;
      transition: 0.5s;
      border-radius: 5px;
    }
    .mainHeader .navbarContainer .navbar ul li a:hover {
      background-color: #cd666e;
      color: #e9e9e5;
      margin: 5px;
    }
    .section1TextContainer {
      display: grid;
      grid-template-rows: 1fr 1fr;
      align-items: center;
      justify-content: center;
    }
    .section1TextContainer h2 {
      margin: 0;
    }
    .section1TextContainer p {
      padding: 0 0 0 0;
    }
    .barraHerramientas {
      padding: 0 20% 2% 20%;
    }
    .up {
      display: block;
    }
    footer {
      padding: 2%;
    }
    .footerTexto {
      padding: 0.5%;
    }
  }

  #logoutBtn {
    padding: 10px 20px;
    background-color: #ff4b4b;
    color: #e9e9e5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  /* Efecto hover */
  #logoutBtn:hover {
    background-color: #e33e3e;
    transform: scale(1.05);
  }

  /* Efecto de enfoque */
  #logoutBtn:focus {
    outline: none;
    box-shadow: 0px 0px 0px 4px #e44d5a;
  }

  /* Efecto de clic */
  #logoutBtn:active {
    transform: scale(0.98);
  }

  /* Estilos específicos para el botón de "Iniciar Sesión" */
  .login-btn {
    background-color: transparent !important;
    color: #e9e9e5 !important;
    
  }

  .login-btn:hover {
    background-color: #333 !important;
    color: #e9e9e5 !important;
    margin: 5px;
  }

  /* Estilos específicos para el botón de "Registrarse" */
  .register-btn {
    background-color: transparent !important;
    color: #e9e9e5 !important;
  }

  .register-btn:hover {
    background-color: #e33e3e !important;
    border-color: #e33e3e !important;
    margin: 5px;
  }
